<!-- footer.html -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-top">
            <!-- Logo -->
            <div class="footer-logo">
                <a href="../pages/home.html" class="logo">
                    <img src="../assets/logo/footer_logo.png" alt="Welcome Tajikistan" />
                </a>
            </div>

            <!-- Navigation -->
            <nav class="footer-nav">
                <p>Explore</p>

                <ul>
                    <li><a href="">Destinations</a></li>
                    <li><a href="">Stays</a></li>
                    <li><a href="">Dining</a></li>
                    <li><a href="">Parks</a></li>
                </ul>
            </nav>

            <!-- Language -->
            <div class="language-container">
                <p>Languages</p>

                <button class="lang-btn en">
                    <img src="../assets/icons/lang_en_icon.png" alt="EN">
                </button>

                <button class="lang-btn tj">
                    <img src="../assets/icons/lang_tj_icon.png" alt="TJ">
                </button>

                <button class="lang-btn ru">
                    <img src="../assets/icons/lang_ru_icon.png" alt="RU">
                </button>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-bottom">
            <div class="copyright">
                <hr>
                <p>@ 2026 Welcome Tajikistan. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>